<div>
  <h2 style="text-align: center" class="col s10">
    <i class="material-icons ave">assignment</i>Dados da Pesquisa
    <button class="waves-effect waves-light btn-large right" (click)="toCSV()">
      <i class="material-icons right">archive</i>Export to CSV</button>
  </h2>
  <div>
    <table class="centered striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Sexo</th>
          <th scope="col">Profissão</th>
          <th scope="col">Escolaridade</th>
          <th scope="col">Estado Civil</th>
          <th scope="col">Dominio Fisico</th>
          <th scope="col">Dominio Meio Ambiente</th>
          <th scope="col">Dominio Psicologico</th>
          <th scope="col">Dominio Rel. Social</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let psq of pesquisa| async; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{psq._01_nome}}</td>
          <td>{{psq._02_idade}}</td>
          <td>{{psq._03_sexo}}</td>
          <td>{{psq._06_profissao}}</td>
          <td>{{psq._05_escolaridade}}</td>
          <td>{{psq._04_estadoCivil}}</td>
          <td>{{psq._11_domFisico}}</td>
          <td>{{psq._14_domMeioAmb}}</td>
          <td>{{psq._12_domPsico}}</td>
          <td>{{psq._13_domRelSoc}}</td>
          <td>{{psq._15_score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
